%h1.text-center
  Profile

= render 'layouts/flashes'

.col-md-6.col-md-offset-3
  = render 'personal_information'

.col-md-6.col-md-offset-3
  = render 'payment_methods'

.col-md-6.col-md-offset-3
  = render 'categories'
