= simple_form_for @payment_method do |f|
  = f.input :name, hint: "Example: Chase, Bank of America, Bitcoin!"

  = f.button :submit, (f.object.new_record? ? "Save" : "Update"), class: "ex-primary-btn"
  = link_to "Cancel", transactions_path, class: "btn ex-secondary-btn"
