.user-sessions-container.col-md-4.col-md-offset-4
  .form-container.col-md-10.col-md-offset-1
    %h1.text-center Sign up

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, required: true

      .form-actions
        = f.button :submit, "Sign up", class: "col-md-12 ex-primary-btn"

    = render 'devise/shared/links'
