.transactions-header {
  @extend .flex;
  @extend .vertical-center;

  @media (max-width: $screen-md) {
    display: inline;
  }
}

#category-col, #payment-method-col {
  @media all and (max-width: $screen-xs) {
    display: none;
  }
}

.debit {
  color: $red;
}

.credit {
  color: $green;
}

.bold {
  font-weight: bold;
}

.pagination {
  .active > a, span {
    background-color: $ex-primary-color;
    border-color: $ex-primary-color;

    &:hover,
    &:focus {
      background-color: $ex-primary-color;
      border-color: $ex-primary-color;
    }
  }

  li {
    a, span {
      color: $ex-primary-color;

      &:hover,
      &:focus {
        color: $ex-primary-color;
      }
    }
  }
}
