body {
  font-family: 'Lato', sans-serif;

  background: #f9f9f9;
  // background: url("background/homepage_background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user-sessions-container {
  background: #f9f9f9;
  // background-image: linear-gradient( 135deg, #FEB692 0%, #EA5455 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-top: 40px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;

  box-shadow: 2px 2px 10px 2px #888888;
}

.ex-primary-btn {
  @include ex-btn-primary;
  font-size: $ex-font-size;
}

.ex-secondary-btn {
  @include ex-btn-secondary;
  font-size: $ex-font-size;
}

.flash-message {
  margin-top: 40px;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.flex {
  display: flex;
}

.fa_trash {
  color: $red;
}

.panel-default {
  border-color: $ex-primary-color;

  .panel-heading {
    background: $gray;
    color: #fff;
    border-color: $ex-primary-color;
  }
}
