@mixin ex-btn-primary {
  margin: 5px;
  border-radius: $ex-button-border-radius-default;
  background-color: $ex-primary-color;
  color: $ex-secondary-text-color;
  border-color: darken($ex-primary-color, 6);

  &:hover,
  &:focus {
    background-color: darken($ex-primary-color, 6) !important;
    color: $ex-secondary-text-color !important;
    outline: none;
  }

  &:active {
    background-color: darken($ex-primary-color, 8) !important;
    color: $ex-secondary-text-color !important;
  }
}

@mixin ex-btn-secondary {
  margin: 5px;
  border-radius: $ex-button-border-radius-default;
  border-color: $ex-primary-color;

  background-color: none;
  color: $ex-primary-color;

  &:hover,
  &:focus {
    background-color: $ex-primary-color !important;
    color: $ex-secondary-text-color !important;
    outline: none;
  }

  &:active {
    background-color: darken($ex-primary-color, 8) !important;
    color: $ex-secondary-text-color !important;
  }
}
