textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $ex-primary-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(39, 48, 67, 0.6);
  outline: 0 none;
}

.form-control {
  border-radius: 2px;
  margin: 5px;

  &:focus {
    border-color: $ex-primary-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(39, 48, 67, 0.6);
    outline: 0 none;
  }
}

label {
  font-size: 18px;
}

select {
  border-radius: 2px !important;

  // TODO: For custom dropdown chevron on selects, use the code below to
  // disable the default
  //
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;

  // &::-ms-expand {
  //   display: none;
  // }
}
