.navbar {
  margin-bottom: 0px;
  background-color: $ex-primary-color;
  padding-left: $navbar-border-padding-lg;
  padding-right: $navbar-border-padding-lg;

  @media (max-width: $screen-xs-min) {
    padding: 0;
  }
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: $ex-secondary-text-color !important;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-right {
  li > a {
    color: $ex-secondary-text-color !important;
    font-size: $ex-font-size;
  }

  .dropdown-menu {
    li > a {
      color: $ex-primary-text-color !important;
    }
  }
}

.navbar-default .navbar-nav > .open > a {
  background-color: darken($ex-primary-color, 6) !important;

  &:hover,
  &:focus {
    background-color: darken($ex-primary-color, 6) !important;
  }
}
