// Sub navbar styles

.sub-navbar {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;

  a {
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-bottom: 2px solid $ex-primary-color;
      color: $ex-primary-color;
      font-weight: 1000;
    }
  }
}

.sub-nav-link {
  font-size: 18px;
  padding-bottom: 5px;

  &.active {
    text-decoration: none;
    color: $ex-primary-color;
    font-weight: bold;
  }
}
