/*
 * Base
 */
$ex-button-border-radius-default: 4px;

/*
 * Color Scheme
 */
$ex-primary-color: #273043;

$red: #c82333;
$green: #218838;
$gray: #90949E;

/*
 * Font Color
 */
$ex-primary-text-color: #000;
$ex-secondary-text-color: #fff;

/*
 * Font size
 */
$ex-font-size: 16px;

/*
 * Paddings
 */
$navbar-border-padding-lg: 150px;

/*
 * Buttons
 */
