.text-center.grand-total
  %p.bold.credit= "+#{number_to_currency(@monthly_income)}"
  %p.bold.debit= "-#{number_to_currency(@monthly_expenses)}"

%hr

.row.transactions-header
  .col-md-4
    = render 'transactions/filter_form', locals: {path: locals.fetch(:path)}
  .col-md-4
    %p.ex-heading.text-center= "#{@selected_month} #{@selected_year}"
