= form_tag imports_path, method: :post, authenticity_token: true, multipart: true  do
  = label_tag "Payment Method"
  = select_tag :payment_method,
    options_from_collection_for_select(current_user.payment_methods, :id, :name)
  = file_field_tag :file, accept: 'text/csv'
  = submit_tag "Import"

