%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar-main"}, aria: {expanded: "false"}}
        %span.sr-only Toggle navigation
        - 3.times do
          %span.icon-bar

      = link_to "$expensa", root_path, class: "navbar-brand"

    .collapse.navbar-collapse{id: "navbar-main"}
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= navbar_link_to current_user.total_balance, ""
            %li.dropdown
              %a.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}}
                = fa_icon("plus")
              %ul.dropdown-menu
                %li= link_to "New Transaction", new_transaction_path
                %li.divider{role: "separator"}
                %li= link_to "New Category", new_category_path(current_user)
                %li= link_to "New Payment Method", new_payment_method_path(current_user)
            %li.dropdown
              %a.nav-item.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}}
                = current_user.email
                %span.caret
              %ul.dropdown-menu
                %li= link_to "View Transactions", transactions_path
                %li.divider{role: "separator"}
                %li= link_to "Account", profile_user_path(current_user)
                %li.divider{role: "separator"}
                %li= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Log In", user_session_path
