= render 'layouts/flashes'

.user-sessions-container.col-md-4.col-md-offset-4
  .form-container.col-md-10.col-md-offset-1
    %h1.text-center Log in

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      .form-actions
        = f.button :submit, "Log in", class: "col-md-12 ex-primary-btn"

    = render 'devise/shared/links'
