- if @weekly_transactions.any?
  = column_chart @weekly_transactions.group_by_day(:date, format: "%a").debit.sum(:amount),
    colors: ['#273043']
- else
  %h3.text-center Yay! You don't have any transactions last week.
