.panel.panel-default
  .panel-heading
    %h3.panel-title Income Received

  %table.table.table-striped
    %thead
      %th.col-md-2.col-sm-2.col-xs-2 Date
      %th.col-md-8.col-sm-6.col-xs-6 Description
      %th.col-md-2.col-sm-2.col-xs-2 Amount

    %tbody
      - if @weekly_income.any?
        - @weekly_income.each do |transaction|
          %tr
            %td= formatted_date(transaction.date)
            %td= link_to transaction.description, edit_transaction_path(transaction.id)
            %td.bold.font-size-18{class: "#{transaction.debit? ? 'debit' : 'credit' }"}= "#{transaction.debit? ? '-' : '+' }" "#{number_to_currency(transaction.amount)}"
      - else
        %tr
          %td.text-center{colspan: 3} No Income last week

