.col-md-10.col-md-offset-1
  .col-md-12.month-list-container
.graph-container.col-md-8.col-md-offset-2

  .text-center
    %p.ex-heading.text-center= "#{formatted_date(7.days.ago, 'short')} to #{formatted_date(Date.current, 'short')}"

  = render 'weekly_transactions_graph'

.graph-container.col-md-5.col-md-offset-1
  = render 'highest_expense_transactions'

.graph-container.col-md-5
  = render 'weekly_income'

