.col-md-10.col-md-offset-1
  .col-md-12.month-list-container
.graph-container.col-md-8.col-md-offset-2

  = render 'shared/transactions_header', locals: {path: dashboards_trends_path}

  = render 'month_transaction_graph'

.graph-container.col-md-5.col-md-offset-1
  %h1.text-center By Payment Method
  = render 'by_payment_method'

.graph-container.col-md-5
  %h1.text-center By Category
  = render 'by_category'
