= simple_form_for @category do |f|
  = f.input :title, hint: "Example: Utility, Food & Drink, Rent!"

  = f.input :create_another, as: :boolean
  = f.button :submit, (f.object.new_record? ? "Save" : "Update"), class: "ex-primary-btn"
  = link_to "Cancel", transactions_path, class: "btn ex-secondary-btn"
