= form_tag locals.fetch(:path), method: :get do
  .row
    .no-gutter
      .col-md-6.col-sm-4.col-sm-offset-4.col-md-offset-0= select_month Date::MONTHNAMES.index(@selected_month), {}, class: 'select-control form-control'
      .col-md-3.col-sm-4.col-sm-offset-4.col-md-offset-0= select_year @selected_year, {start_year: Date.today.year, end_year: 5.years.ago.year}, class: 'select-control form-control'
    .col-md-3.col-sm-4.col-sm-offset-4.col-md-offset-0= submit_tag "View", class: "ex-primary-btn form-control"
  -# = link_to "Current", locals.fetch(:path)

