.col-md-4.col-md-offset-4
  = simple_form_for @transaction do |f|
    = f.input :kind, collection: Transaction.kinds.keys.to_a.map, include_blank: false
    = f.input :date, as: :date
    = f.input :description
    = f.input :amount, placeholder: '$00.00'
    - if current_user.categories.blank?
      = f.label "Category"
      = link_to "Add New Category", new_category_path(current_user)
    - else
      = f.association :category,
          collection: current_user.categories,
          selected: (@transaction.category_id || current_user.default_category),
          value_method: :id
    - if current_user.payment_methods.blank?
      = f.label "Payment method"
      = link_to "Add New Payment Method", new_payment_method_path(current_user)
    - else
      = f.association :payment_method,
          collection: current_user.payment_methods,
          selected: (@transaction.payment_method_id || current_user.default_payment_method),
          value_method: :id

    = f.input :create_another, as: :boolean
    = f.button :submit, (f.object.new_record? ? "Save" : "Update"), class: "ex-primary-btn"
    = link_to "Cancel", transactions_path, class: "btn ex-secondary-btn"
