= render 'layouts/flashes'
%table.table.table-striped
  %thead
    %th.col-md-1.col-sm-2.col-xs-2 Date
    %th.col-md-4.col-sm-6.col-xs-6 Description
    %th.col-md-2.col-sm-2.col-xs-2 Amount
    %th.col-md-2#category-col Category
    %th.col-md-2#payment-method-col Payment Method
    %th.col-md-1.col-sm-2.col-xs-2 Actions

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td#transaction-date= formatted_date(transaction.date)
        %td#transaction-description= link_to transaction.description, edit_transaction_path(transaction.id)
        %td#transaction-amount.bold.font-size-18{ class: "#{transaction.debit? ? 'debit' : 'credit' }" }= "#{transaction.debit? ? '-' : '+' }" "#{number_to_currency(transaction.amount)}"
        %td#category-col= link_to transaction.category.title, transactions_path(params: {date: {month: params.dig(:date, :month), year: params.dig(:date, :year)}, category: transaction.category.title})
        %td#payment-method-col= transaction.payment_method.name
        %td
          %span.col-md-6= link_to fa_icon("trash-o", class: "fa-2x fa_trash"), transaction, method: :delete, data: {confirm: transaction_deletion_message(transaction)}
