.col-md-10.col-md-offset-1
  .col-md-12.month-list-container

    = render 'shared/transactions_header', locals: {path: transactions_path}

  = render 'transactions'
  .text-center= paginate @transactions
