<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>Expensa | Track your spendings</title>
    <meta name="description" content="A minimalistic expense tracker because tracking expenses should not be hard.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Expensa | ">
    <meta itemprop="description" content="A minimalistic expense tracker because tracking expenses should not be hard.">
    <meta itemprop="image" content=<%= marketing_image %>>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://52.34.158.159">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Expensa | Track your spendings">
    <meta property="og:description" content="A minimalistic expense tracker because tracking expenses should not be hard.">
    <meta property="og:image" content=<%= marketing_image %>>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Expensa | Track your spendings">
    <meta name="twitter:description" content="A minimalistic expense tracker because tracking expenses should not be hard.">
    <meta name="twitter:image" content=<%= marketing_image %>>

    <!-- Meta Tags Generated via http://heymeta.com -->
    <%= csrf_meta_tags %>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: "pages/navbar" %>
    <% if user_signed_in? %>
      <%= render partial: "pages/sub_navbar" %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
